apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        # CHANGE 1: Full address to your Docker Hub image
        # Format: username/repository:tag
        image: vanu888/my-python-devops-app:v2
        
        # CHANGE 2: "Always" forces K8s to check the internet for updates
        # If you leave this as "Never", it will fail because it can't find the image locally anymore
        imagePullPolicy: Always 
        
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: python-app-service
spec:
  type: NodePort
  selector:
    app: python-app
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30000
